In [39]:
import pandas as pd
from tqdm import tqdm

In [40]:
df=pd.read_csv('./test_predictions.csv')

In [41]:
df = df.drop(columns=['Unnamed: 0'])

In [42]:
df['image_name'] = df.files.apply(lambda x: x.split('/')[-1].split('-')[0]+'.jpg')

In [43]:
df.head()

                                files  y_true  y_pred      image_name
0  ../test/2/24b_d4.1_1-2_414_160.jpg       2       2  24b_d4.1_1.jpg
1     ../test/2/5_c4.1_2-2_394_58.jpg       2       2    5_c4.1_2.jpg
2     ../test/2/5_c4.2_0-2_439_80.jpg       2       2    5_c4.2_0.jpg
3    ../test/2/5_c6.1_2-2_311_190.jpg       2       2    5_c6.1_2.jpg
4    ../test/2/5_c4.1_2-2_221_382.jpg       2       2    5_c4.1_2.jpg

In [44]:
groups = df.groupby(by='image_name')

In [57]:
result_df = None
for name, data in tqdm(groups):
    try:
        line={'name' : name,
             'gt_1' : data.y_true.value_counts()[1],
             'gt_2' : data.y_true.value_counts()[2],
             'pred_1' : data.y_pred.value_counts()[1],
             'pred_2' : data.y_pred.value_counts()[2]}

        df = pd.DataFrame(line,columns=['name','gt_1','gt_2','pred_1','pred_2'],index=[0])
        if result_df is None:
            result_df = df
        else:
            result_df = pd.concat([result_df,df])
    except:
        pass

100%|██████████| 181/181 [00:00<00:00, 313.40it/s]

In [58]:
print(result_df)

              name  gt_1  gt_2  pred_1  pred_2
0   24b_d1.0_3.jpg    20     1      19       1
0   24b_d1.1_0.jpg    47     7      47       7
0   24b_d1.1_1.jpg    38     3      33       3
0   24b_d1.1_2.jpg    22     3      22       3
0   24b_d1.1_3.jpg    10     1      10       1
0   24b_d1.2_0.jpg    35     5      34       4
0   24b_d1.2_1.jpg    32     5      32       5
0   24b_d1.2_2.jpg    17     2      17       2
0   24b_d1.2_3.jpg     8     4       8       4
0   24b_d1.3_0.jpg    34     3      34       3
0   24b_d1.3_1.jpg    31     1      31       1
0   24b_d1.3_2.jpg     8     1       8       1
0   24b_d1.3_3.jpg     8     1       8       1
0   24b_d2.0_0.jpg    85    15      85      15
0   24b_d2.0_1.jpg    94     9      93       9
0   24b_d2.0_2.jpg    52     3      51       2
0   24b_d2.0_3.jpg    30     5      30       4
0   24b_d2.1_0.jpg   108    13      99      13
0   24b_d2.1_1.jpg    97    15      93      15
0   24b_d2.1_2.jpg    63     5      61       3
0   24b_d2.1_3.jpg    40     6      37       6
0   24b_d2.2_0.jpg   110    11     107      11
0   24b_d2.2_1.jpg   106    20      98      22
0   24b_d2.2_2.jpg    81     9      77       9
0   24b_d2.2_3.jpg    38     6      35       6
0   24b_d2.3_0.jpg    83     9      82       8
0   24b_d2.3_1.jpg    74    14      74      13
0   24b_d2.3_2.jpg    61     5      59       5
0   24b_d2.3_3.jpg    32     1      32       1
0   24b_d3.0_0.jpg   103    21     101      21
..             ...   ...   ...     ...     ...
0     5_c4.0_2.jpg    88   176      87     165
0     5_c4.0_3.jpg    72   181      71     172
0     5_c4.1_0.jpg    73   168      69     162
0     5_c4.1_1.jpg    65   183      59     176
0     5_c4.1_2.jpg    75   204      75     182
0     5_c4.1_3.jpg    79   196      76     187
0     5_c4.2_0.jpg    67   145      65     136
0     5_c4.2_1.jpg    78   171      76     156
0     5_c4.2_2.jpg    74   186      73     174
0     5_c4.2_3.jpg    58   210      63     196
0     5_c4.3_0.jpg    71    98      69      80
0     5_c4.3_1.jpg    78   160      78     134
0     5_c4.3_2.jpg    64   176      70     142
0     5_c4.3_3.jpg    66   183      67     167
0     5_c6.0_0.jpg     9    48      12      39
0     5_c6.0_1.jpg    19    51      19      36
0     5_c6.0_2.jpg    25    48      25      40
0     5_c6.0_3.jpg    27    58      32      40
0     5_c6.1_0.jpg    17    46      17      43
0     5_c6.1_1.jpg    13    74      15      60
0     5_c6.1_2.jpg    21    63      25      55
0     5_c6.1_3.jpg    19    44      20      35
0     5_c6.2_0.jpg    14    42      14      40
0     5_c6.2_1.jpg    14    43      14      41
0     5_c6.2_2.jpg    18    38      19      33
0     5_c6.2_3.jpg    12    34      12      29
0     5_c6.3_0.jpg     9    30       8      26
0     5_c6.3_1.jpg    23    25      23      23
0     5_c6.3_2.jpg    16    26      16      25
0     5_c6.3_3.jpg    10    23      11      20

[161 rows x 5 columns]

In [61]:
result_df[['name','gt_1','gt_2','pred_1','pred_2']].to_excel('processed.xls')